<a href="https://colab.research.google.com/github/WayneKesino/MORINGA-IP4/blob/main/WayneKesino_IP4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##(A)LOADING OUR DATABASE

In [1]:
#Importing pandas library
import pandas as pd
#Importing numpy library
import numpy as np

##(B)LOADING THE DATASET

In [4]:
df = pd.read_csv('http://bit.ly/autolib_dataset')
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

##(C)CLEANING THE DATASET

In [5]:
#Dropping columns with any null values
df2 = df.dropna(axis=1)
df2.count()

Address                5000
Cars                   5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
ID                     5000
Kind                   5000
Geo point              5000
Postal code            5000
Public name            5000
Rental status          5000
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
year                   5000
month                  5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

In [6]:
#Dropping columns that are irrelevant and won't be needed during analysis
df3 = df2.drop(['Address','Cars','Charge Slots','Charging Status', 'ID','Geo point','Slots','Subscription status',], axis= 1)
df3.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour  minute
0                0               0                   0  ...   8   11      43
1                6               0                   0  ...   6    7      24
2                3               0                   2  ...   3   20      14
3                3               1                   0  ...   4    4      37
4                3               0                   0  ...   8   17      23

[5 rows x 15 columns]

In [7]:
#Dropping the year and month column since they have the same values in all the rows
df3.drop(['year','month'], axis = 1, inplace = True)
df3

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour  minute
0                   0               0                   0  ...   8   11      43
1                   6               0                   0  ...   6    7      24
2                   3               0                   2  ...   3   20      14
3                   3               1                   0  ...   4    4      37
4                   3               0                   0  ...   8   17      23
...               ...             ...                 ...  ...  ..  ...     ...
4995                2               0                   0  ...   6   11      26
4996                4               0                   0  ...   4   16      56
4997                1               0                   0  ...   1    7       1
4998                2               0                   0  ...   4   17      27
4999                4               0                   0  ...   8   10       2

[5000 rows x 13 columns]

In [8]:
#checking for null values
df3.isnull().sum()

Bluecar counter       0
Utilib counter        0
Utilib 1.4 counter    0
City                  0
Kind                  0
Postal code           0
Public name           0
Rental status         0
Station type          0
Status                0
day                   0
hour                  0
minute                0
dtype: int64

In [11]:
#checking for any missing values in our new dataframe
df3.isnull().any()

Bluecar counter       False
Utilib counter        False
Utilib 1.4 counter    False
City                  False
Kind                  False
Postal code           False
Public name           False
Rental status         False
Station type          False
Status                False
day                   False
hour                  False
minute                False
dtype: bool

In [10]:
#Dropping duplicates if any from the new dataset
df4 = df3.drop_duplicates()
df4.shape

(5000, 13)

In [12]:
#Removing spaces from the column names and replacing it with an underscore and also removing fullstops
df4.columns = df4.columns.str.replace(" ", "_").str.replace(".","")
df4

      Bluecar_counter  Utilib_counter  Utilib_14_counter  ... day hour  minute
0                   0               0                  0  ...   8   11      43
1                   6               0                  0  ...   6    7      24
2                   3               0                  2  ...   3   20      14
3                   3               1                  0  ...   4    4      37
4                   3               0                  0  ...   8   17      23
...               ...             ...                ...  ...  ..  ...     ...
4995                2               0                  0  ...   6   11      26
4996                4               0                  0  ...   4   16      56
4997                1               0                  0  ...   1    7       1
4998                2               0                  0  ...   4   17      27
4999                4               0                  0  ...   8   10       2

[5000 rows x 13 columns]

In [13]:
#Changing the names of the columns to lowercase
df4.columns = map(str.lower, df4.columns)
df4.count()

bluecar_counter      5000
utilib_counter       5000
utilib_14_counter    5000
city                 5000
kind                 5000
postal_code          5000
public_name          5000
rental_status        5000
station_type         5000
status               5000
day                  5000
hour                 5000
minute               5000
dtype: int64

In [14]:
#calculating the difference in the rows in the columns for the different cars to come up with the car usage
#using the diff() function from pandas
#creating column for the blue car usage
df4['bluecar_usage'] = df4.bluecar_counter.diff()

#creating column for the utilib car usage
df4['utilib_usage'] = df4.utilib_counter.diff()

#creating column for the utilib1.4 car usage
df4['utilib_14_usage'] = df4.utilib_14_counter.diff()
df4.count()

bluecar_counter      5000
utilib_counter       5000
utilib_14_counter    5000
city                 5000
kind                 5000
postal_code          5000
public_name          5000
rental_status        5000
station_type         5000
status               5000
day                  5000
hour                 5000
minute               5000
bluecar_usage        4999
utilib_usage         4999
utilib_14_usage      4999
dtype: int64

In [15]:
#filling in the missing values in the new dataset
df4['bluecar_usage'].fillna(0,inplace=True)
df4['utilib_usage'].fillna(0,inplace=True)
df4['utilib_14_usage'].fillna(0,inplace=True)
df4.count()

bluecar_counter      5000
utilib_counter       5000
utilib_14_counter    5000
city                 5000
kind                 5000
postal_code          5000
public_name          5000
rental_status        5000
station_type         5000
status               5000
day                  5000
hour                 5000
minute               5000
bluecar_usage        5000
utilib_usage         5000
utilib_14_usage      5000
dtype: int64

##(D)EXPORTING CLEAN DATASET

In [16]:
df4.to_csv('Data.csv')
Data = pd.read_csv('Data.csv')
Data.count()

Unnamed: 0           5000
bluecar_counter      5000
utilib_counter       5000
utilib_14_counter    5000
city                 5000
kind                 5000
postal_code          5000
public_name          5000
rental_status        5000
station_type         5000
status               5000
day                  5000
hour                 5000
minute               5000
bluecar_usage        5000
utilib_usage         5000
utilib_14_usage      5000
dtype: int64

##1.Identify the most popular hour of the day for picking up a shared electric car in the city of Paris.

In [17]:
#Subsetting data and selecting the city of Paris
Data1 = Data[(Data.city == 'Paris') & (Data.bluecar_usage < 0)]

#Sorting the hours
Data1.groupby(['hour'])['bluecar_counter'].count().sort_values(ascending=False).head(1)

hour
21    80
Name: bluecar_counter, dtype: int64

##2.Most popular hour for returning up cars

In [18]:
#Subsetting the data and selecting the most pop hour for returning
Data[Data.bluecar_usage > 0].groupby(['hour'])['bluecar_counter'].count().sort_values(ascending=False).head(1)

hour
6    101
Name: bluecar_counter, dtype: int64

##3.What station is the most popular?

In [19]:
#Overall
Data2 = Data[(Data.kind == 'STATION') & (Data.rental_status == 'operational')]
Data2.groupby(['public_name'])['kind'].count().sort_values(ascending=False).head(1)

public_name
Paris/Porte de Montrouge/8    13
Name: kind, dtype: int64

In [20]:
#At the most popular picking hour
Data3 = Data[(Data.kind == 'STATION') & (Data.rental_status == 'operational') & (Data.hour == 21)]
Data3.groupby(['public_name'])['kind'].count().sort_values(ascending=False).head(1)

public_name
Paris/Tronchet/19    4
Name: kind, dtype: int64

##4.What postal code is the most popular for picking up blue cars? Does the most popular station belong to that postal code?

In [24]:
#Most popular station
Data[Data.public_name == 'Paris/Tronchet/19'][['public_name','postal_code']].head(1)

           public_name  postal_code
600  Paris/Tronchet/19        75008

In [21]:
#Overall
Data[Data.bluecar_usage < 0].groupby(['postal_code'])['bluecar_counter'].count().sort_values(ascending=False).head(1)

postal_code
75015    116
Name: bluecar_counter, dtype: int64

In [22]:
#At the most popular picking hour?
Data[(Data.bluecar_usage < 0) & (Data.hour == 21 )].groupby(['postal_code'])['bluecar_counter'].count().sort_values(ascending=False).head(1)

postal_code
75008    9
Name: bluecar_counter, dtype: int64

The most popular station belongs to the most popular postal code but only at the most popular picking hour not the overall.